.about{
    text-align: center;
    font-family: "Segoe UI Light", serif;
    color: #f89b4d;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    width: 550px;
}
.about p{
    color: #000;
    font-size: 20px;
    background-color: white;
    padding: 20px;
    font-weight: normal;
}

.about h1{
    font-size: 60px;
    font-family: "Segoe UI Light", serif;
    font-weight: bold;
    margin-bottom: 80px;
}