.welcome{
    padding: 20px;
    background: white;
    color: #fff;
    width: 100%;
    height: 500px;
    vertical-align: middle;
}
.left{
    float: left;
    margin-top: 140px;
    margin-left: 50px;
    font-size: 85px;
    font-family: "Segoe UI Light", serif;
    font-kerning: none;
    color: black;
    line-height:100px;
    font-weight: bold;

}
.right{
    float: right;
    margin-right: 80px;
    margin-top: 0px;
    margin-right: 15px;
}


.TL{
    //-webkit-text-stroke: 2px black;
    color: #FD809E;
}
.or{
    -webkit-text-stroke: 4px #FD809E ;
    font-family: "Segoe UI Black", serif;
    color: white;
}


.down{
    font-size: 20px;
    line-height: 50px;
}

.account button#signUp2{
    color: white;
    background-color: #FD809E;
    position: relative;
    bottom: 105px;
    right: 180px;
}

.account button#signUp2:hover{
    color: #FD809E;
    background-color: white;
    border: 2px solid #FD809E;
}
.account button#signUp2:active{
    box-shadow: 0 3px #362654FF;
    bottom: 105px;
    right: 180px;
    transform: translateY(3px);
}
