.top{
  background-color: $purple;
  height: 30px;
  padding: 20px;
}
.signUpForm {
  body {
    justify-content: center;
    font-size: 15px;
  }

  .form {
    height: fit-content;
    padding: 15px;
    margin-top: 40px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 15px 10px 20px 0px $pink;
    background-color: rgba(176, 132, 255, 0.21);
    animation: open .5s;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .field {
    margin: 5px;
    display: flex;
    flex-direction: column;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    background: linear-gradient(270deg, $purple, $pink);
    margin-bottom: 25px;
  }

  .img-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
  }

  .img-upload:before {
    content: "\f093";
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }

  .img-upload:hover:before {
    background-color: #ffffff;
    opacity: 0.9;
    background-image: url("../../public/images/upload.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  img {
    width: auto;
    height: 100%;
  }

  label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #676767;
  }

  input {
    border-radius: 6px;
    border: 1px solid #b7b7b7;
    padding: 5px 5px 5px 10px;
    font-size: 15px;
    transition: 0.2s;
  }

  input:focus {
    outline: none;
    border: 1px solid $dark-purple;
  }

  input::placeholder {
    color: #bebebe;
  }

  .nom, .prenom, .description, .adress, .postal, .city, .country, .phone, .cardNumber, .expireDate, cvv,
  .password, .confPassword, .email {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #676767;
    max-width: 220px;
    overflow-wrap: break-word;
  }

  input#desc {
    height: 50px;
  }

  button {
    position: relative;
    color: #054231;
    letter-spacing: 1px;
    margin: 20px;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 25px;
    border: none;
  }

  .save {
    font-weight: 600;
    left: -20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 20px;
    background: $pink;
    box-shadow: 10px 0px 20px 0px $purple;
  }

  .edit, .confirm {
    color: #fff;
    width: 180px;
    background: $purple;
  }

  button:hover {
    left: 0;
    color: #fff;
    width: 180px;
  }

  .save:hover {
    box-shadow: 5px 4px 8px 0 $purple;
  }

  .edit:hover, .confirm:hover {
    box-shadow: 5px 4px 8px 0 $pink;
    background: $dark-purple;
  }

  button:focus {
    outline: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .text-danger {
    color: darkred;
    font-style: oblique;
  }

}