$purple: #A980F8;
$dark-purple: #362654;
$pink: rgb(253, 128, 158);
$whitie:  rgba(255, 255, 255, 0.89);
$blackie: rgba(0, 0, 0, 0.29);

.user_top-nav{
    overflow: hidden;
    list-style-type: none;
    background-color: $purple;
    padding: 5px 10px;
    margin-top: -5px;
    font-size: 18px;
    position: fixed;
    width: 100%;
    z-index:1;
}
.user_navigation{
    a{
        float: left;
        font-family: "Myriad Pro Light", serif;
        display: inline-block;
        color: white;
        text-align: left;
        padding: 5px 10px;
        margin-right: 20px;
        text-decoration: none;
        cursor: pointer;
    };
    a:hover{
        background-color: $blackie;
    };
    a#logo{
        font-weight: bolder;
        font-size: 30px;
        margin-right: 30px;
        padding: 0;
    }
    a[id="logo"]:hover{
        background: none;
        color: white;
    };
    input {
        background: white;
        padding: 5px 10px;
        float: left;
        border-radius: 6px;
    };
    input:hover {
        background-color: $whitie;
    };
    input:focus {
        color: black;
    };
    .active{
        font-weight: bold;
        padding: 5px;
        color: $dark-purple;
    };
    .active[id="logo"]{
        color: white;
        padding: 0;
    }
}


.user_search {
    float: left;
    margin-left: 10px;
    vertical-align: center;

    button {
        margin-left: 10px;
        padding: 5px 10px;
        color: $purple;
        background-color: white;
        font-weight: bold;
        border: 2px solid white;
        border-radius: 6px;
        cursor: pointer;
        -moz-border-radius: 6%;
    }
;
    button:hover {
        background-color: $purple;
        color: white;
    }
;
    button:active {
        box-shadow: 0 3px $dark-purple;
        transform: translateY(3px);
    }
;
}

.user_account {
    float: right;
    margin-right: 50px;
    button#logout{
        padding: 5px 10px;
        margin-left: -100px;
        width: 130px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        border-color: rgba(169, 128, 248, 0);
        color: white;
        background-color: $pink;
    };
    button#logout:hover{
        color: $pink;
        background-color: white;
        border: 2px solid $pink;
    };
    button:active{
        box-shadow: 0 3px $dark-purple;
        transform: translateY(3px);
    };
}
