$purple: #A980F8;
$dark-purple: #362654;
$pink: rgb(253, 128, 158);
$whitie:  rgba(255, 255, 255, 0.89);
$blackie: rgba(0, 0, 0, 0.29);

body{
    font-family: "Segoe UI", serif;
    background-color: #f1f1f1;
}

.user_affichage{
    display: flex;
    flex-direction: row;
    .user_leftcolumn {
        width: 80%;
        background-color: white;
        margin-right: 20px;
    }

    .user_rightcolumn {
        background-color: rgba(253, 128, 158, 0.23);
        width: 20%;
        font-size: 15px;
        height: fit-content;
    }
    .user_card{
        margin: 10px;
        padding: 5px;
        border-radius: 6px;
    }

    table td{
        padding: 5px;
    }

}






.user_pagination {
    display: inline-block;
    transform: translateX(100px);
}
