.auction-details {
    height: fit-content;
    padding: 15px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 15px 10px 20px 0px rgb(253, 128, 158);
    background-color: rgba(176, 132, 255, 0.21);
    animation: open .5s;
}

.auction-details .image {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.auction-details .image img {
    width: auto;
    height: 100%;
}

.product_category, .product_description, .product_name, .product_brand,
  .product_state, .product_location, .product_period , .product_price, 
  .seller_name, .seller_number, .seller_email {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #676767;
    max-width: 550px;
    overflow-wrap: break-word;
  }

.auction-details button{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.auction-details #refus{
    background: none;
    border: 2px solid rgb(245, 57, 57);
    color: rgb(245, 57, 57);
}

.auction-details #refus:hover{
    background: rgb(245, 57, 57);
    border: 2px solid rgb(245, 57, 57);
    color: white;
}

.auction-details #approve{
    background: #A980F8;
    border: 2px solid #A980F8;
    color:white;
}

.auction-details #approve:hover{
    background: white;
    border: 2px solid white;
    color:#A980F8;
}