.MenuAdmin{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 140px;
}

.MenuElement a{
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.MenuElement p{
    margin-left: 48px;
}

.MenuElement{
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    background: rgba(176, 132, 255, 0.21);
    box-shadow: 15px 10px 20px 0px rgb(253, 128, 158);
}

.MenuAdmin img{
    width: 38px;
    float: left;
}
