.navbar{
    overflow: hidden;
    list-style-type: none;
    background-color: #A980F8;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
}

.navbar .logo{
    font-weight: bolder;
    font-size: 25px;
    margin-left: 15px;
}
.navbar .logo img{
    width:30px;
    float: left;
    position: relative;
}
.navbar a{
    float: left;
    font-family: "Myriad Pro Light", serif;
    display: inline-block;
    color: #f2f2f2;
    text-align: left;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}
.logo{
    margin-right: 20px;
}
.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.29);
}
.navbar a[id='logo']:hover{
    background: none;
}

.account{
    float: right;
 }
.account button{
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 120px;
    margin-top: 0px;
    position: relative;
    bottom: 4px;
    width: 110px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    border-color: rgba(169, 128, 248, 0);
}
.account button#signUp{
    color: white;
    background-color: #FD809E;
}
.account button#signUp:hover{
    color: #FD809E;
    background-color: white;
    border: 2px solid #FD809E;
}

.account button:active{
    box-shadow: 0 3px #362654;
    transform: translateY(3px);
}

.navbar .bar{
    padding-top: 10px;
    margin-left: 58%;
}