.UsersList{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.search-container form{
    margin-left: 350px;
}

.search-container input{
    width: 350px;
    height: 12px;
    padding: 10px;
}

.search-container button{
    height: 35px;
    width: 80px;
    background-color: #f89b4d;
    border: none;
    cursor: pointer;
    color: white;
}

.UserCard{
    display: inline-flex;
    padding: 5px;
    background-color: white;
    padding-left: 20px;
    width: 350px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3%;
    font-size: 17px;
}

.UserCard:hover{
    background-color: rgba(176, 132, 255, 0.21);
    transition-duration: 0.3s;
}

.UserCard img{
    width: 100px;
    height: 100px;
}

.UserCard p{
    margin-left: 30px;
}
.UserCard span{
    font-weight: bold;
}
.UserCard a{
    text-decoration: none;
    position: absolute;
    margin-top: 130px;
    margin-left: 18px;
    color: #f89b4d
}
.UserCard a:hover{
    text-decoration: underline;
}
.UsersList table {
    list-style-type: none;
}

.UsersList table td{
    margin-left: 5px;
}
