.UsersList{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.search-container form{
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.search-container input{
    width: 400px;
    height: 35px;
    padding: 10px;
}

.search-container button{
    height: 35px;
    width: 15%;
    background-color: #f89b4d;
    border: none;
    cursor: pointer;
    color: white;
}

.UserCard{
    display: inline-flex;
    padding: 5px;
    background-color: white;
    padding-left: 20px;
    width: 500px;
    border-radius: 3%;
    margin-left: 100px;
    font-size: 17px;
}

.UserCard img{
    width: 100px;
    height: 100px;
}

.UserCard p{
    margin-left: 30px;
}
.UserCard span{
    font-weight: bold;
}
.UserCard a{
    text-decoration: none;
    position: absolute;
    margin-top: 130px;
    margin-left: 18px;
    color: #f89b4d
}
.UserCard a:hover{
    text-decoration: underline;
}
.UsersList ul {
    list-style-type: none;
}
